.our-value-section{
    background: linear-gradient(-59.49deg, #151618 35.53%, #FF0000 111.98%);
    padding:100px 0;
    color:#fff;
    h4{
        font-family:Arial,sans-serif!important;
        font-weight: 400;
        span{
            color:#fff;
        }
    }
    position: relative;
    #vission1{
        position: absolute;
        right:0;
        bottom:10%;
    }
}