@media (max-width: 501px) {
  #service {
    display: block;
  }
}

.servicemenu {
  padding: 10px 70px 0;
  color: #a7a7a7;
  list-style-type: none;
  display: flex;
  gap: 30px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sticky {
  position: fixed;
  top: 28px;
  z-index: 1000;
  padding: 0;
  margin: 0 45px;
  gap: 20px;
  /* Ensure it appears above other elements */
}

.hidden {
  display: none;
  opacity: 0;
}

.servicemenu li {
  font-size: 22px !important;
  cursor: pointer;
  line-height: 1.2em;
}

.servicemenu li:hover {
  color: #fff;
}

.servicemenu li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menutitle1 {
  padding-right: 20px;
  color: #fff;
  border-right: 1px solid #fff;
}

.hideondesktop{
  display: none;
}

/* small screen */
@media (max-width:1090px) {
  #hidesm{
    display: none!important;
  }
  .hideondesktop{
    display: block;
  }
}
/* tables */
@media (max-width:780px) {
  .servicemenu {
    padding:10px 20px;
    width:100dvw;
    overflow-x:scroll;
  }
  .sticky{
    width:100dvw;
    overflow-x:scroll;
    display: none;
  }
}

/* for mobile */
@media (max-width:501px) {

  .cards {
    background: rgba(236, 26, 26, 1);
    box-shadow: 0px 0px 5px 5px #00000020;
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }

  .cardComponent {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .posterImg {
    background: #e05a3250;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: 0.2s ease-in;
  }

  .posterImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cardContent {
    padding: 5px 20px;
    color: #fff;
    background: rgba(236, 26, 26, 1);
    /* // position: absolute;
    // width: 100%; */
  }

  .cards p {
    font-size: 18px !important;
  }

  .cards ul {
    padding: 0;
    list-style-type: none;
    opacity: 0.8;
    font-size: 16px;
  }

  button {
    border: none !important;
    margin-top: 10px !important;
    padding: 2px 20px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 20px !important;
  }


  .react-tabs__tab-list {
    color: #a7a7a7;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    border: none !important;
    margin: 0 !important;
    padding: 0;
  }

  .cardContainer {
    background: #151618;
    color: white;
    /* background-color: black; */
    font-size: 30px;
    padding: 20px;
  }

  .react-tabs {
    /* background: #151618; */
    /* background-color: black; */
  }
}

.hide-on-large {
  display: block;
}

@media (min-width: 501px) {
  .hide-on-large {
    display: none;
  }
}