.contact-banner {
  padding: 100px 0;
  height: 600px;
  display: flex;
  align-items: end;
  color: #fff;
  h3 {
    // font-weight: bold!important;
    font-size: 55px !important;
    padding-bottom: 0px;
  }
  .contact-info {
    padding-left: 50px;
    font-size: 34px;
    padding-bottom: 0px;
    p {
      // font-weight: bold;
      font-size: 26px !important;
    }
  }
  p{
    font-size: 22px;
  }
}
.contact-form {
  padding: 100px 0;
  color: #fff;
  
  .consult-card {
    background-size: cover;
    background-color: #ffffff10;
    background-image: url("../../../assets/contactbgback.png");
    width: 550px;
    height: 460px;
    padding: 20px 50px;
    border-radius: 9px;
    // background: #ffffff10;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    div {
      position: relative;
      z-index: 3;
    }
    &::after {
      background-size: cover;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../../../assets/contactbgfront.png");
      width: 100%;
      height: 460px;
      z-index: 1;
    }
    img {
      padding-bottom: 10px;
    }

    h3 {
      font-size: 35px !important;
      padding-bottom: 10px;
    }
    button {
      // width:250px;
      // height:60px;
      color: #151618;
      border-radius: 100px;
      padding: 10px 25px;
      border: none;
    }
  }
  form {
    .d-flex {
      div {
        width: 100%;
      }
    }
    label {
      width: 100%;
      font-size: 22px;
      padding-bottom: 30px;
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ffffff50;
        background: transparent;
        padding: 10px 0;
        color: #fff;
      }
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ffffff50;
        background: transparent;
        color: #fff;
      }
    }
    input[type="submit"] {
      border: none;
      width: 200px;
      height: 60px;
      border-radius: 100px;
      background: #fff;
    }
    textarea::placeholder,
    input::placeholder {
      color: #fff;
      opacity: 0.5;
    }
  }
}

.contact-wrapper {
  background: linear-gradient(116.78deg, #151618 48.18%, #ff0000 117.05%);
}

@media (max-width: 991px) {
  .contact-form {
    .consult-card {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  .contact-banner {
    h3 {
      font-size: 45px !important;
    }
    .contact-info {
      font-size: 30px;
    }
  }
}

@media (max-width: 768px) {
  .contact-banner {
    h3 {
      font-size: 40px !important;
    }
    .contact-info {
      font-size: 28px;
    }
  }
}
@media (max-width: 576px) {
  .contact-form {
    padding: 50px 0;
    .consult-card {
      height: 380px;
      padding: 20px 20px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      div {
      }
      &::after {
        height: 100%;
      }
    }
  }
  form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .contact-banner {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    .contact-info {
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }
}
