.blogs-section {
    background: #161719;
}


.blogs-section .blogReference {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blogs-section .firstrow {
    padding-bottom: 30px;
    padding-top: 30px;
}

.blogs-section .blogReference img {
    border-top: 0.5px solid #FFFFFF;
    padding-top: 20px;
}

.blogs-section .blogReference p {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    padding-top: 30px;

}

.blogs-section .teamsHeading h1 {
    padding-bottom: 30px;
    font-size: 60px !important;
    font-weight: 700 !important; 
    line-height: 55px;
    text-align: left;

}

.blogs-section .prev {
    gap: 6rem;
}

.blogs-section .prev h2 {

    /* font-family: Poppins; */
    font-size: 25px !important;
    font-weight: 400 !important;
    /* line-height: 25.74px !important; */
    text-align: center;

}

.blogs-section .content h2 {
    padding-bottom: 20px;
    /* font-family: Poppins; */
    font-size: 30px !important;
    font-weight: 700 !important;
    text-align: left;
}

.blogs-section .content p {
    /* font-family: Poppins; */
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.blogs-section .content {
    padding-top: 50px;
}

.blogContent button {
    border: none;
    margin-top: 22px;
    background: #FFFFFF;
    color: black;
    text-align: center;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 18.54px;
}

.blogContent  a{
    text-decoration: none;
    color: black;
}

.blogs-section .headertags {
    /* font-family: Roboto; */
    font-size: 18px;
    font-weight: 400;
    line-height: 19.8px;
    text-align: center;
    border: 1px solid #666666;
    border-radius: 250px;
    padding: 5px 10px 5px 10px;
}

.blogs-section .teamsheaderRow {
    padding-top:20px;
    a{
        color:#ffffff60;
        text-decoration: none;
    }
    h2{
        font-size: 55px;
    }
    .img-fluid{
        padding:20px 0 0; 
        width:100%;
        border-radius: 6px;
    }
    .content{
        padding:25px 10px;
        padding-right: 55px;
        h3{
            font-size: 35px;
        }
        .datetag{
            color:#ffffff80
        }
        p{
            color:#fff;
        }
    }
    .sidebar{
        padding-top:30px;
        .M-blog{
            padding:0px 0 15px;
            h5{
                font-size: 26px;
                padding-top: 10px;
            }
            .d-flex{
                justify-content: space-between;
                color:#ffffff70;
            }
        }
    }
}

@media (max-width:1000px) {
    .sidebar{
        padding-bottom: 50px;
        .sidebar-posts{
            display: grid;
            grid-template-columns: auto auto;
            gap:15px;
        }
    }
}

@media (max-width:580px) {
    .blogs-section{
        padding: 80px 15px 40px;
        h2{
            font-size: 28px;
        }
        h3{
            font-size: 26px!important;
        }
        .content{
            padding-right: 10px!important;            
        }
        .sidebar-posts{
            .M-blog{
                .d-flex{
                    display: inline!important;
                }
            }
        }
    }
}