.hero-sec-wrapper{ 
    background: linear-gradient(55.84deg, #151618 29.41%, #211517 57.18%, #311315 63.13%, #750D0E 81.67%, #BE0607 93.03%, #FF0000 103.15%, #FF0000 110.14%);
    position: relative;
    .Hero-section{
        padding:0px;
        height:700px; 
        display: flex;
        align-items: center;
        position: relative;
        .bannerText{ 
            // padding:20px 0;
            h2{
                font-size: 170px;
                font-weight: 400!important;
                color: #fff;
                line-height: 95px !important;
                padding-bottom: 20px;
                letter-spacing: 0.35rem;
            }

            h6{
                font-size: 44px;
                letter-spacing: 6px;
                text-transform: capitalize;
            }
        }
        .content{
            display: flex;
            margin:auto;    
            letter-spacing: 3px;
            p{
                color:#fff;
            }
            img{
                width:150px;
            }
            svg{
                overflow: visible;
                path{
                    width: 100%;
                    transform: translate(0%, 0);
                    transition: 0.6s ease;
                }
                &:hover path{
                    fill:#EC1A1A;
                    stroke:#EC1A1A; 
                    stroke-dasharray: 320;
                    stroke-dashoffset: 0;
                    animation: dash 1s linear;  
                }  
            }
            a{
                position: relative;
            }
        }
        .owl-nav{
            display: none!important;
        }

        .basebox{
            background: rgba(0, 0, 0, 0.2);
            color:#fff;
            position: absolute;
            bottom:8%;
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding:8px 25px;
            margin:0 auto;
            font-size: 20px;
            a{
                color:#fff;
                text-decoration: none;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin:0;
                li{
                    padding:2px 13px;
                    background-color: #ffffff40;
                    border-radius:8px;
                    color:#ffffff50;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
            .descriptionbox{
                opacity: 0.4;
                span{
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;
                }
                svg{
                    scale:0.8;
                    position: relative;
                }
            }
    
        }
    }
    .banner-1{
        width:350px;
        margin-bottom: 6.5rem;
        margin-left: 6em;
        img{
            width:80%!important;
        }
    } 
    .slider-content{
        color: #fff; 
        height:100%;
        padding: 0px 30px 10px;
        padding-right:11rem;
        display: flex;
        align-items: center;
    }

}


@media (min-width: 1550px) {
    .Hero-section{
        height:800px;
    }
    .banner-1{
        margin-left: 40%!important;        
    } 
}

/* /Responsive/ */

/* 1440px */

@media (min-width: 1100px) and (max-width: 1440px){

    //for banner-1 responsiveness -by ankit
    .banner-1{
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: end;
        // margin-left: 55px;
    }

}


// font size for header
@media (max-width: 1240px){
    .hero-sec-wrapper{
        .bannerText{ 
            h2{
                font-size: 120px!important;
            }
            h6{
                font-size: 34px !important;
            }
        }
    }
}



/* //small size screen// */
@media (min-width:769px) and (max-width: 1025px){
    .Hero-section{   
        max-height:700px;
        .slider-content
        {
            height:unset;
            padding:0;
        }  
        

        .banner-1{
            width:350px; 
            margin-bottom: 0; 
            margin-top:5rem;           
        }
    }
}

/* //Mobile// */
@media (min-width:481px) and (max-width: 768px){

    .Hero-section{
        height:550px;
        .slider-content{
            width:100%!important;
            padding:50px 0px!important;
            align-items: end!important;
            top: 0!important;
            height:unset;
            .bannerText{
                height:unset!important;
                h2{
                    font-size: 85px!important;
                    line-height: 70px!important;
                }
            }
        }
        .content{
            padding:0px!important;
        }
        .banner-1{
            width:350px; 
            margin-bottom: 0; 
            margin-top:5rem;    
        }
    }

    .Hero-section span:first-child{
        font-size:38px!important;
    }
   
    .Hero-section{
        padding:100px 10px 30px 10px;
    }
    .Hero-section .bannerText{ 
        overflow:hidden;
       
    }

    .Hero-section .bannerText div{
        line-height:30px;  
    }

    .Hero-section h2{
        font-size:20px;
        color:#000;
        line-height:40px;
    }
    .Hero-section .bannerText{
        height:30vh;
        width:100%;
    }
    .Hero-section .clrtext{
        font-family: 'Syne', sans-serif!important;
        font-size: 35px!important;
        font-weight:700;
        color:#EC1A1A;
        overflow: hidden;
    }
    .Hero-section .content{
        padding:15px;
        cursor: pointer!important;
    }
    .Hero-section .content p{
        padding-left:0px;
        padding-top:0px;
        font-size:15px;
    }

    .float{
        display: none;
    }

    .content svg{
        width:100%;
        display: none;
    }

    .nav{
        position: relative;
        left:0%
    }    
}

 

/* //Mobile// */
@media only screen and (max-width: 480px){

    .Hero-section{
        max-height:600px;
        padding:30px 30px 30px!important;
        .slider-content{
            padding:50px 20px!important;
            align-items: end!important;
            top: 0!important;
            height:unset;
            .bannerText{
                height:unset!important;overflow:hidden;
                height:30vh;
                width:100%;
                div{
                    line-height:30px;  
                }
                h2{
                    font-size: 55px!important;
                    line-height: 70px!important;
                    padding: 0;
                    margin:0;
                }
                h6{
                    margin:0;
                }
            }
        }
        .content{
            padding:0px!important;
            padding:15px;
            cursor: pointer!important;
            p{
                padding-left:0px;
                padding-top:0px;
                font-size:15px;
            }
        }
        .banner-1{
            width:250px; 
            margin-bottom: 0; 
            margin-top:5rem; 
        }
        span:first-child{
            font-size:38px!important;
        }
    }
   
    .Hero-section .clrtext{
        font-family: 'Syne', sans-serif!important;
        font-size: 35px!important;
        font-weight:700;
        color:#EC1A1A;
        overflow: hidden;
    }  

    // .content svg{
    //     width:100%;
    //     display: none;
    // }
    .nav{
        position: relative;
        left:0%
    }
    
}

 