.about-section{
    background: #151618;    
    // background:url('../../../assets/imagebg.jpg');
    color:#fff;
    .about-company{
        padding:100px 20px 80px;
        span{
            font-family: 'syne';
            font-size:21px;
            font-weight: 600;
            color:#fff;
        }
        h3{
            font-size:44px!important;
            font-weight: 400;
            margin-bottom:15px;
        } 
        p{
            color:#fff;
            line-height: 24px;
        }
        .about-com-img {
            position: relative; 
            img{
                width:75%;
                object-fit: contain;
            }
        }        
    }
    a{
        color:#fff;
        text-decoration: none;
    }

}


@media (max-width:480px) {
    .about-section{
        .about-company{
            padding:50px 20px;
        }
    }
    .btn-1{
        border: 1px solid #fff!important;
    }
    .about-com-img {
        position: relative; 
        width:100%;
        img{
            width:100%!important;
            padding-top:20px;
        }
    }
}