.quote-section{
    position: relative;
    height:550px;
    padding:50px 0;
    background-size: cover;
    display: flex;
    align-items: center;
    #border{
        width:100%;
        display: none;
        position: absolute;
    }
    .quote-wrapper{
        padding:50px 70px ;
        border:5px solid #ffffff50;
        border-left:none;
        position: relative;
        &::after{
            content:'';
            width:5px;
            height:45px;
            background: #ffffff50;
            position: absolute;
            left:0;
            top:0;
        }
        &::before{
            content:'';
            width:5px;
            height:135px;
            background: #ffffff50;
            position: absolute;
            left:0;
            bottom:0;
        }
        svg{
            position: absolute;
            top:20%;
            left:-2%;
        }
        h3{
            font-size: 40px!important;
            color:#fff!important;
            text-align: center;
        }
    }
}


@media (max-width:780px) {
    .quote-section{
        padding:50px 0;
        height:360px;
        .quote-wrapper{
            padding:30px 22px!important;
            &::after{
                height:30px;
            }
            &::before{
                height:90px;
            }
            svg{
                scale:0.6;
                left:-8%;
            }
            h3{
                font-size:22px!important;
            }
        }
    }
}