.blogs-section {
  padding-bottom: 100px;
  padding-top: 100px;
  background: #161719;
  color: white;
}

.blogs-section .first-row {
  //   border-bottom: 1px solid grey;
}

.first-row h1 {
  font-family: Poppins;
  font-size: 54px !important;
  font-weight: 700 !important;
  text-align: left;
}
.first-row p {
  color: #8e8e8e;
}
.first-row img {
  padding: 10px;
}

.first-row {
  padding-bottom: 30px;
  padding-top: 40px;
}

.blogs-card {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #161719 !important;
  color: white !important;
  height: 100% !important;
  min-height: 640px;
  max-height: 640px;
  border: none !important;
}

.blogs-card h3 {
  font-family: Poppins;
  font-size: 26px !important;
  font-weight: 400 !important;
  line-height: 31.36px !important;
  text-align: left;
}

.blogs-card p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.blogs-card button {
  background: #535353;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 25px;
  width: 100%;
  color: white;
  &:hover {
    background: #b80000;
  }
}
.blogs-card .blogbtn a {
  width: 100%;
}
.blogs-card .blogbtn {
  display: flex;
  justify-content: center;
}

.blogs-card .date {
  opacity: 0.5;
  font-family: Poppins;
  font-size: 18px;
}

.blogs-card .head {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.74px;
  text-align: left;
}

.section-tabs {
  padding-top: 20px;
}

.react-tabs__tab {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.74px;
  text-align: center;
  border: none !important;
}

.react-tabs__tab--selected {
  background: transparent !important;
  border-color: unset !important;
  color: white !important;
  border-radius: 0 !important;
  font-weight: bold !important;
}

.react-tabs__tab-panel {
  padding-top: 30px;
}

.section-tabs {
  padding-left: 0;
}

.servicestab {
  padding-top: 0;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ffffff40;
}

.servicestab .react-tabs__tab {
  padding: 0 0 15px 0 !important;
}

.section-tabs {
  gap: 30px;
  display: flex !important;
  background: #2e2e2e;
  padding: 10px 20px 10px;
  .react-tabs__tab {
    padding: 10px 20px !important;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    border: none !important;
    &:hover {
      border: 1px solid;
      border-radius: 50px;
      background: #c10000;
    }
  }
  .react-tabs__tab--selected {
    background: transparent !important;
    border-color: unset !important;
    color: white !important;
    border-radius: 0 !important;
    font-weight: bold !important;
  }
}

@media (max-width: 991px) {
  .section-tabs {
    overflow: scroll;
  }
}
@media (max-width: 576px) {
  .blogs-card {
    height: 100%;
    min-height: none;
    max-height: none;
  }

  .blogs-card img {
    object-fit: cover;
    height: 350px;
  }
  .first-row h1 {
    font-size: 40px !important;
  }
  .first-row img {
    padding: 2px;
  }
}
