.ourculture{
    padding: 100px 0;
    background: #161719;
    color:#fff;
    .culture-img{
        img{
            padding-bottom:2rem;
            width:110%;
        }
        h4{
            font-family: 'Poppins', sans-serif!important;
            font-weight: 100!important;
            font-size:35px!important;
        }
    }

}