.our-story-section{
    padding:100px 0;
    background: #161719;
    color:#fff;
    h4{
        font-size: 44px;
    }
    h6{
        font-size:32px;
    }
    img{
        width:88%;
        max-width:600px;
    } 
}

@media (max-width:1200px){
    .our-story-section{
        padding:80px 0;
        h4{
            font-size: 42px;
        }
        h6{
            font-size:30px;
        }
        img{
            width:100%;
            max-width:500px;
            margin-bottom:30px;
        } 
    }
}


@media (max-width:580px){
    .our-story-section{
        padding:50px 18px;
        h4{
            font-size: 36px;
        }
        h6{
            font-size:30px;
        }
        p{
            font-size: 17px;
        }
        img{
            width:100%;
            max-width:500px;
            margin-bottom:30px;
        } 
    }
}